*{
  color: #eee
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #111;
}

ul.horizontal, ol.horizontal {
  background-color: #333;
  width: fit-content;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  justify-content: space-around;
} 

ul.vertical, ol.vertical {
  background-color: #333;
  width: fit-content;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: space-around;
} 

.gift-list{
  background-color: #444;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 1rem;
  font-size: 1.25rem;
  width: 10rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}